page-chat {

  .messageBubble {
    max-width: 85%;
    border-radius: 15px;
    padding: 1.5%;
  }

  .right {
    float: right;
    text-align: right;
    background-color: #ccccff;
  }

  .left {
    float: left;
    text-align: left;
    background-color: #b2b2ff;
  }

  .title,
  .toolbar-title {
    display: inline;
  }

  ion-navbar > div > button {
    float: right;
    padding: 0;
    margin: 0;
  }

}
