search-select-multi {

  #wrapper {
    margin: 0;
  }

  .searchbar,
  .searchbar-md,
  .searchbar-ios,
  .searchbar-wp, {
    padding: 2px;
  }

  .close {
    float: right;
    text-align: right;
    cursor: pointer;
  }

}
